<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="4"
    android:versionName="1.0.0"
    package="com.ff.demo">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".broadcastreceiver.AlarmReceiver"
            android:process=":remote">
            <intent-filter android:priority="2147483647">
                <action android:name="com.ff.alarmdemo" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.Alarm"
            android:label="@string/title_activity_alarm" />
        <activity
            android:name=".activity.TouchEventDispatchViewDemo"
            android:label="@string/title_activity_touch_event_dispatch_demo" />
        <activity android:name=".activity.TouchEventDispatchButtonDemo" />
        <activity
            android:name=".activity.TouchDelegateActivity"
            android:label="@string/title_activity_touch_delegate" />
        <activity
            android:name=".activity.TouchEventDispatchMainActivity"
            android:label="@string/title_activity_touch_event_dispatch_main" />

        <service
            android:name=".services.LocalService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activity.IsServiceActivityInOneThread"
            android:label="@string/title_activity_is_service_activity_in_one_thread" />

        <service
            android:name=".services.AIDLRemoteService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />
        <service
            android:name=".services.MessengerRemoteService"
            android:enabled="true"
            android:exported="true"
            android:process=":messenger_remote" />

        <activity
            android:name=".activity.ClickableSpanActivity"
            android:label="@string/title_activity_clickable_span" />
        <activity
            android:name=".activity.PopupwindowActivity"
            android:label="@string/title_activity_popupwindow" />
        <activity
            android:name=".activity.SystemWindowManagerActivity"
            android:label="@string/title_activity_system_window_manager" />
        <activity
            android:name=".activity.PathMeasureActivity"
            android:label="@string/title_activity_path_measure" />
        <activity
            android:name=".activity.GetWifiMacActivity"
            android:label="@string/title_activity_get_wifi_mac" />
        <activity
            android:name=".activity.PriorityActivity"
            android:label="@string/title_activity_priority" />
        <activity
            android:name=".activity.CustomizeProgressBarActivity"
            android:label="@string/title_activity_customize_progress_bar" />
        <activity
            android:name=".activity.FoldersActivity"
            android:label="@string/title_activity_folders" />
        <activity android:name=".activity.AnimActivity" />
        <activity android:name=".activity.RippleActivity" />
        <activity android:name=".activity.BitmapCompressActivity" />
        <activity android:name=".activity.FastBlurActivity" />
        <activity android:name=".activity.AnnotationActivity" />
        <activity android:name=".activity.ReadSMSActivity" />
        <activity android:name=".activity.FileIPCActivity" />

        <service
            android:name=".services.SocketService"
            android:enabled="true"
            android:process="com.ff"
            android:exported="true" />

        <activity android:name=".activity.SocketDemoActivity"></activity>
    </application>

</manifest>
